@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .community, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.community .cm-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family:'Poppins' ;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 1055px;
    height: 3px;
    background: #544541;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 25px;
    color: #E14D2A;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #3E6D9C;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(237, 176, 33);
    transition: all 0.2s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(203, 168, 65);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(255, 171, 62);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.about .title::after{
    content: "About us";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 40px;
}
.about .about-content .right .text span{
    color: #FD841F;
}
.about .about-content .right p{
    text-align: justify;
}
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:10px;
    display: flex;
    align-items: center;
    flex:1 1 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.icons-container .icons img{
    height:50px;
    margin-right: 20px;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}

.community{
    color:#001253;
    background: #ffffff;
    font-family: 'Poppins';
}
.community .title::before{
    background: #544541;
}
.community .title::after{
    background: #ffffff;
    content: "Community";
}
.community .cm-content .card{
    width: calc(23% - 10px);
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.community .cm-content .card:hover{
    background: #ffffff;
}
.community .cm-content .card .box{
    transition: all 0.3s ease;
}
.community .cm-content .card:hover .box{
    transform: scale(1.60);
}
.community .cm-content .card i{
    font-size: 40px;
    transition: color 0.3s ease;
}
.community .cm-content .card:hover i{
    color: #fff;
}
.community .cm-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 40px 60px 0;
    color: #E14D2A;
}


footer{
    background: #3E6D9C;
    padding: 15px 23px;
    color: rgb(255, 255, 255);
    text-align: center;
}
footer span a{
    color: rgb(221, 177, 74);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }

    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .community .cm-content .card{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
}


@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .community .cm-content .card{
        width: 100%;
    }

}

@media (max-width: 500px) {
    .about .about-content .right .text{
        font-size: 19px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}